<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.plugins.git.GitSCM" plugin="git@1.3.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <name></name>
                <refspec></refspec>
                <url>git@github.com:&lt;username&gt;/todo.git</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>**</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>false</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <ignoreNotifyCommit>false</ignoreNotifyCommit>
        <useShallowClone>false</useShallowClone>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
        <gitTool>Default</gitTool>
        <submoduleCfg class="list"/>
        <relativeTargetDir></relativeTargetDir>
        <reference></reference>
        <excludedRegions></excludedRegions>
        <excludedUsers></excludedUsers>
        <gitConfigName></gitConfigName>
        <gitConfigEmail></gitConfigEmail>
        <skipTag>false</skipTag>
        <includedRegions></includedRegions>
        <scmName></scmName>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers class="vector">
        <hudson.triggers.SCMTrigger>
            <spec>* * * * *</spec>
            <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.plugins.gradle.Gradle plugin="gradle@1.22">
            <description></description>
            <switches></switches>
            <tasks>clean test</tasks>
            <rootBuildScriptDir></rootBuildScriptDir>
            <buildFile></buildFile>
            <useWrapper>true</useWrapper>
            <makeExecutable>false</makeExecutable>
            <fromRootBuildScriptDir>true</fromRootBuildScriptDir>
        </hudson.plugins.gradle.Gradle>
    </builders>
    <publishers>
        <hudson.tasks.junit.JUnitResultArchiver>
            <testResults>**/build/test-results/unit/*.xml</testResults>
            <keepLongStdio>false</keepLongStdio>
            <testDataPublishers/>
        </hudson.tasks.junit.JUnitResultArchiver>
        <hudson.plugins.jacoco.JacocoPublisher plugin="jacoco@1.0.12">
            <execPattern>**/build/jacoco/test.exec</execPattern>
            <classPattern>**/build/classes</classPattern>
            <sourcePattern>**/src/main/java</sourcePattern>
            <inclusionPattern></inclusionPattern>
            <exclusionPattern></exclusionPattern>
            <minimumInstructionCoverage>0</minimumInstructionCoverage>
            <minimumBranchCoverage>0</minimumBranchCoverage>
            <minimumComplexityCoverage>0</minimumComplexityCoverage>
            <minimumLineCoverage>0</minimumLineCoverage>
            <minimumMethodCoverage>0</minimumMethodCoverage>
            <minimumClassCoverage>0</minimumClassCoverage>
            <maximumInstructionCoverage>100</maximumInstructionCoverage>
            <maximumBranchCoverage>70</maximumBranchCoverage>
            <maximumComplexityCoverage>70</maximumComplexityCoverage>
            <maximumLineCoverage>70</maximumLineCoverage>
            <maximumMethodCoverage>70</maximumMethodCoverage>
            <maximumClassCoverage>70</maximumClassCoverage>
        </hudson.plugins.jacoco.JacocoPublisher>
        <hudson.tasks.Mailer plugin="mailer@1.4">
            <recipients>your.email@gmail.com</recipients>
            <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
            <sendToIndividuals>false</sendToIndividuals>
        </hudson.tasks.Mailer>
    </publishers>
    <buildWrappers/>
</project>