<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.plugins.cloneworkspace.CloneWorkspaceSCM" plugin="clone-workspace-scm@0.5">
        <parentJobName>todo-initial</parentJobName>
        <criteria>Any</criteria>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers class="vector"/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.plugins.gradle.Gradle plugin="gradle@1.22">
            <description></description>
            <switches></switches>
            <tasks>sonarRunner</tasks>
            <rootBuildScriptDir></rootBuildScriptDir>
            <buildFile></buildFile>
            <useWrapper>true</useWrapper>
            <makeExecutable>false</makeExecutable>
            <fromRootBuildScriptDir>true</fromRootBuildScriptDir>
        </hudson.plugins.gradle.Gradle>
    </builders>
    <publishers/>
    <buildWrappers>
        <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
            <template>todo#${ENV,var=&quot;SOURCE_BUILD_NUMBER&quot;}</template>
        </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
    </buildWrappers>
</project>